# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/
ENV/

# ==========================
# Environment variables
# ==========================
.env
.env.*

# ==========================
# Telegram session files
# ==========================
*.session
*.session-journal

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Jupyter notebooks
# ==========================
*.ipynb
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Data
# ==========================
data/raw/
data/processed/
data/interim/

# Ignore all images
data/raw/images/

# Ignore scraped JSON files
data/raw/telegram_messages/

# ==========================
# Database
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Build files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Secrets
# ==========================
*.pem
*.key
*.crt
